body{
background-color:beige;

}
#mainhead{
    text-align: center;
    font-size: 100px;
    font-family: serif;
    
    
}
.aboutme{
    font-size: 40px;
    text-align: center;
}
.edu{
font-size: 20px;
border: black solid 5px;
height: 300px;
width: 300px;
padding: 50px;
margin-left: 550px;
background-color: #E3735E;
font-family: sans-serif;
}
.skills{
font-size: 20px;
border: black solid 5px;
height: 300px;
width: 300px;
padding:50px;
margin-left:550px;
margin-top:10px ;
background-color: turquoise;

font-family: sans-serif;








}
#skillshead{
    font-size: 30px;
font-family: serif;
}
#eduhead{
    font-size: 30px;
    font-family: serif;
}
.hobbies{
    font-size: 20px;
    text-align: center;
    background-color:#DAA38B;
    
font-family: sans-serif;

}
#interests{
    font-size: 30px;
    font-family: serif;
    

}
#sdvimg{
    height: 100px;
    width: 200px;
    border-radius: 20%;
}



.contactme{
    text-align: center;
    font-size: 20px;
    font-family: sans-serif;
    
    text-align: center;
    margin-top: 20px;
}
#copy{
    text-align:start ;
    
    font-family: serif;
    

}
#mypic{
    height: 100px;
    width: 100px;
    border-radius:50% ;
    margin-top: 10px;

}
.hero{
    text-align: center;
    font-size: 20px;
    background-color;
    font-family: sans-serif;
}

@media (min-width: 320px) and (max-width: 800px) {
    .edu{
    
        margin-left: 0px;
        height: 300px;
        width: 400px;
        padding:50px;
    }
    #mainhead{
        text-align: center;
    }
    .skills{
        margin-left: 0px;
        height: 300px;
        width: 400px;
        padding:50px;
    }
    .hero{
        text-align:center;

    }
    .aboutme{
text-align: center;

    }
    .hobbies{
        text-align: center;
        background-color: #DAA38B;
width: 100%;
    }
    .contactme{
        text-align: end;
        
        margin-top: 100px;

    }
    #copy{
        text-align: start;
        margin-top: 0px;
    }
    
}